@font-face {
  font-family: "Squadron-Regular";
  src: url("/fonts/Squadron-Regular.eot") format("eot"),
    url("/fonts/Squadron-Regular.woff") format("woff"),
    url("/fonts/Squadron-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Squadron-Bold";
  src: url("/fonts/Squadron-Bold.eot") format("eot"),
    url("/fonts/Squadron-Bold.woff") format("woff"),
    url("/fonts/Squadron-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Squadron-RegularItalic";
  src: url("/fonts/Squadron-RegularItalic.eot") format("eot"),
    url("/fonts/Squadron-RegularItalic.woff") format("woff"),
    url("/fonts/Squadron-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
