// Colors

$orange: #f56800;
$white: #ffffff;
$lightestGrey: #fafafa;
$lightGrey: #dddddd;
$grey: #868686;
$darkGrey: #585858;
$black: #000000;

// Font sizes

$heading: 2.5rem;
$paragraph: 0.875rem;
$menu: 1rem;
